.client-header {
  padding: 120px 0 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 2px solid var(--color-0);
  margin-bottom: 32px;
}

.client-header a {
  display: flex;
  gap: 8px;
  align-items: center;
}

.client-header a::after {
  content: "";
  display: inline-block;
  width: 25px;
  height: 15px;
  background: url("../../img/icones/seta.svg") no-repeat center;
}

.client-information {
  padding-bottom: 32px;
  display: grid;
  gap: 8px 0;
}

.client__edit {
  padding: 16px 0 60px 0;
  display: block;
  border-top: 1px solid var(--color-9);
}

.client__edit a {
  transition: all 0.2s ease-in;
}

.client__edit a:hover {
  color: var(--color-1);
}

.osSearch__wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 8px;
  position: relative;
  margin-bottom: 32px;
}

.os__search {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--color-5);
  outline: none;
  width: 100%;
  font-size: 1rem;
  transition: all 0.3s;
  padding: 8px 16px;
}

.os__search:focus {
  background-color: var(--color-0);
  border-radius: 4px;
  border-bottom-color: transparent;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.osSearch__wrapper svg {
  position: absolute;
  right: 5%;
  bottom: 10px;
}

.client-os {
  padding: 120px 16px 120px 0;
}

.client-os h2 {
  padding-bottom: 60px;
  color: var(--color-14);
}

.client-os__list {
  display: grid;
  gap: 16px 0;
  padding-top: 32px;
}

.client-os__list li a {
  padding: 32px 20px;
  background-color: var(--color-0);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  width: 60%;
  cursor: pointer;
}

.client-os__list li a:hover {
  background-color: #f9f9f9f9;
}

@media (max-width: 800px) {
  .client-os {
    padding-left: 16px;
    padding-top: 32px;
  }

  .osSearch__wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0 16px;
  }

  .client-os__list li a {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .client-header {
    display: block;
    border-bottom: none;
    padding-top: 60px;
  }

  .client-header a {
    font-size: 0.875rem;
    padding: 16px 0 16px 0;
  }

  .client-information {
    padding-bottom: 60px;
  }

  .client-os {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 120px;
  }
}

@media (max-width: 500px) {
  .client-os {
    padding-left: 16px;
    padding-top: 16px;
  }

  .osSearch__wrapper svg {
    bottom: 18px;
    right: 7%;
  }
}
