.container {
  margin: 0 auto;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
}

.input-pattern {
  width: 100%;
  background-color: var(--color-1);
  padding: 12px 32px;
  border-radius: 4px;
  border: 2px solid var(--color-4);
  outline-color: var(--color-6);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.position__os {
  padding: 16px 0;
  border-bottom: 1px solid var(--color-11);
  display: flex;
  align-items: center;
}

.btn {
  background: var(--linear);
  padding: 10px 20px;
  text-transform: uppercase;
  margin-top: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  max-width: 164px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: var(--color-prim5);
}

.btn:hover {
  background: linear-gradient(180deg, #ffae48, #ffaf4b);
}

#background {
  background: linear-gradient(var(--color-10) 700px, var(--color-1) 0);
}

.main__title {
  font: 500 4rem/1.125 "Poppins", sans-serif;
  color: var(--color-0);
}

@media (max-width: 800px) {
  #background {
    background: linear-gradient(var(--color-10) 600px, var(--color-1) 0);
  }
}

@media (max-width: 600px) {
  .main__title {
    font-size: 2rem;
  }
}
