.tools {
  width: 100%;
  bottom: 200px;
  margin-top: 425px;
}

.tools__list {
  display: flex;
  gap: 40px;
  overflow-x: auto;
}

.tools__list a {
  width: 360px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--linear);
  border-radius: 4px;
  transition: all 0.3s;
}

.tools__list a:hover {
  background: linear-gradient(180deg, #ffae48, #ffaf4b);
}

@media (max-width: 800px) {
  .tools {
    margin-top: 225px;
  }

  .tools__list a {
    width: 300px;
    height: 120px;
  }
}

@media (max-width: 600px) {
  .tools {
    margin-top: 60px;
  }

  .tools__list a {
    width: 250px;
    height: 100px;
    font-size: 1.125rem;
  }
}
