.main__os {
  padding: 120px 0;
}

.os {
  margin: 60px auto 32px auto;
  padding: 20px 24px;
  background-color: var(--color-0);
  max-width: 595px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* estilos para quando nao houver os para ser exibida */

.msgEmptyOs__wrapper {
  background-color: aqua;
  width: 100%;
}

.os__header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  gap: 6px 32px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--color-11);
}

.os__logo--container {
  grid-row: 2;
}

.os__title {
  grid-column: 2;
}

.os__code {
  text-align: right;
}

.os__email {
  grid-column: 2;
  grid-row: 2;
}

.os__adress {
  grid-column: 2;
  max-width: 45ch;
}

.os__tel {
  grid-column: 2/4;
  text-align: right;
  grid-row: 2;
}

.os__client {
  justify-content: space-between;
}

.os__client div {
  display: flex;
  gap: 8px;
  align-items: baseline;
}

.os__thickness {
  gap: 8px;
}

.os__itens {
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
}

.os__content {
  padding: 16px 0;
  display: grid;
  gap: 8px 0;
}

.content__values {
  padding: 8px 16px;
  background-color: var(--color-1);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
  align-items: center;
}

.os__payment {
  border-bottom: 1px solid var(--color-11);
  padding: 16px 0 8px 0;
  display: flex;
  justify-content: space-between;
}

.os__signature {
  padding-top: 32px;
  text-align: end;
  display: flex;
  align-items: baseline;
  gap: 8px;
  justify-content: end;
}

.os__signature::after {
  content: "";
  width: 180px;
  height: 0.8px;
  background-color: var(--color-11);
  right: 0;
}

.os__buttons {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .os__buttons button:first-child {
    display: none;
  }

  .main__os {
    padding: 60px 16px;
  }

  .os {
    margin: 32px auto 16px auto;
  }

  .msgOsDeleted {
    font-size: 1.5rem;
  }
}
